.gradient-blob {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.gradient-blob__container {
  position: absolute;
  width: 100vw;
  -webkit-transition: left 2.2s cubic-bezier(0.52, 0, 0.2, 1),
    top 2.2s cubic-bezier(0.52, 0, 0.2, 1),
    width 2.2s cubic-bezier(0.52, 0, 0.2, 1);
  -o-transition: left 2.2s cubic-bezier(0.52, 0, 0.2, 1),
    top 2.2s cubic-bezier(0.52, 0, 0.2, 1),
    width 2.2s cubic-bezier(0.52, 0, 0.2, 1);
  transition: left 2.2s cubic-bezier(0.52, 0, 0.2, 1),
    top 2.2s cubic-bezier(0.52, 0, 0.2, 1),
    width 2.2s cubic-bezier(0.52, 0, 0.2, 1);
}

.gradient-blob__container::before {
  content: "";
  display: block;
  width: 100%;
  padding-bottom: 100%;
}

.gradient-blob__image,
.gradient-blob__inner {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.gradient-blob__image {
  -o-object-fit: contain;
  object-fit: contain;
  -webkit-transition: opacity 2s cubic-bezier(0.52, 0, 0.2, 1);
  -o-transition: opacity 2s cubic-bezier(0.52, 0, 0.2, 1);
  transition: opacity 2s cubic-bezier(0.52, 0, 0.2, 1);
}

.gradient-blob__image--blue,
.gradient-blob__image--orange {
  opacity: 0;
}

.gradient-blob__container {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.color-mode-blue .gradient-blob__image--default {
  opacity: 0;
}

.color-mode-blue .gradient-blob__image--blue {
  opacity: 1;
}

.color-mode-orange .gradient-blob__image--default {
  opacity: 0;
}

.color-mode-orange .gradient-blob__image--orange {
  opacity: 1;
}

html:not(.has-limited-animations)
  .gradient-blob--has-loop-animation
  .gradient-blob__container {
  will-change: transform;
  -webkit-animation: 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate
    gradient-pulse;
  animation: 5s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate
    gradient-pulse;
}

html:not(.has-limited-animations)
  .gradient-blob--has-loop-animation
  .gradient-blob__inner {
  will-change: transform;
  -webkit-animation: 10s linear infinite gradient-rotate;
  animation: 10s linear infinite gradient-rotate;
}

.gradient-blob.top-page-gradient-blob .gradient-blob__container {
  top: -125vh;
  left: 10%;
  width: 130vw;
}

@media screen and (max-width: 1199px) {
  .gradient-blob.top-page-gradient-blob .gradient-blob__container {
    top: -10%;
    left: -25%;
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) and (min-width: 750px) {
  .gradient-blob.top-page-gradient-blob .gradient-blob__container {
    top: -25vh;
    left: -25%;
    width: 150vw;
  }
}

@media screen and (max-width: 749px) {
  .gradient-blob.top-page-gradient-blob .gradient-blob__container {
    top: -5%;
    left: -45%;
    width: 200vw;
  }
}

.color-mode-blue
  .gradient-blob.top-page-gradient-blob
  .gradient-blob__container,
.color-mode-orange
  .gradient-blob.top-page-gradient-blob
  .gradient-blob__container {
  top: -100vh;
  left: -37.5%;
}

@media screen and (max-width: 1199px) {
  .color-mode-blue
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container,
  .color-mode-orange
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -10%;
    left: -25%;
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) and (min-width: 750px) {
  .color-mode-blue
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container,
  .color-mode-orange
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -38vh;
    left: -25%;
    width: 150vw;
  }
}

@media screen and (max-width: 749px) {
  .color-mode-blue
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container,
  .color-mode-orange
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -5%;
    left: -45%;
    width: 200vw;
  }
}

.home .gradient-blob.top-page-gradient-blob .gradient-blob__container {
  top: -80vh;
  left: -25%;
  width: 97vw;
}

@media screen and (max-width: 1199px) {
  .home .gradient-blob.top-page-gradient-blob .gradient-blob__container {
    top: -5%;
    left: -25%;
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) and (min-width: 750px) {
  .home .gradient-blob.top-page-gradient-blob .gradient-blob__container {
    top: -38vh;
    left: -45%;
    width: 150vw;
  }
}

@media screen and (max-width: 749px) {
  .home .gradient-blob.top-page-gradient-blob .gradient-blob__container {
    top: -5%;
    left: -100%;
    width: 250vw;
  }
}

.single-ff_resource
  .gradient-blob.top-page-gradient-blob
  .gradient-blob__container {
  top: -70vh;
  left: -50%;
}

@media screen and (max-width: 1199px) {
  .single-ff_resource
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -70vh;
    left: 15%;
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) and (min-width: 750px) {
  .single-ff_resource
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -20vh;
    left: 15%;
  }
}

@media screen and (max-width: 749px) {
  .single-ff_resource
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -35vh;
    left: -45%;
  }
}

.submission-form__scroller-container
  .gradient-blob.top-page-gradient-blob
  .gradient-blob__container {
  top: -30vh;
  left: -50%;
}

@media screen and (max-width: 1199px) {
  .submission-form__scroller-container
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -50vh;
    left: 30%;
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) and (min-width: 750px) {
  .submission-form__scroller-container
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -20vh;
    left: 15%;
  }
}

@media screen and (max-width: 749px) {
  .submission-form__scroller-container
    .gradient-blob.top-page-gradient-blob
    .gradient-blob__container {
    top: -35vh;
    left: -45%;
  }
}

.footer .gradient-blob {
  left: 0;
  bottom: 0;
  height: 200vw;
  z-index: -1;
}

.footer .gradient-blob__container {
  left: -50%;
  bottom: -75vw;
  width: 205vw;
}

@media screen and (max-width: 749px) {
  .footer .gradient-blob__container {
    bottom: -60vw;
  }
}

.error404 .top-page-gradient-blob.gradient-blob .gradient-blob__container {
  top: -100vh;
  left: -37.5%;
  width: 90vw;
}

@media screen and (max-width: 1199px) {
  .error404 .top-page-gradient-blob.gradient-blob .gradient-blob__container {
    top: -20%;
    left: -25%;
  }
}

@media screen and (max-width: 1199px) and (orientation: portrait) and (min-width: 750px) {
  .error404 .top-page-gradient-blob.gradient-blob .gradient-blob__container {
    width: 130vw;
  }
}

@media screen and (max-width: 749px) {
  .error404 .top-page-gradient-blob.gradient-blob .gradient-blob__container {
    top: -30%;
    left: -45%;
    width: 200vw;
  }
}

@-webkit-keyframes gradient-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes gradient-rotate {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes gradient-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}

@keyframes gradient-pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
}
