.load-overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100vw;
  height: calc(var(--dynamic-viewport-height) - var(--wp-admin-bar-height));
  position: fixed;
  top: var(--wp-admin-bar-height);
  pointer-events: auto;
  z-index: 999;
  background-color: #28274b;
}

.load-overlay__container-logo {
  width: calc(
    var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 3
  );
  margin-left: auto;
  margin-right: auto;
}

.load-overlay__logo {
  margin-bottom: -9%;
}

@-webkit-keyframes anim-spinner {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0.2;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-spinner {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }

  50% {
    -webkit-transform: translateY(-2rem);
    transform: translateY(-2rem);
    opacity: 0.2;
  }

  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

.spinner {
  width: 5rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  pointer-events: none;
}

.spinner div {
  -webkit-animation: anim-spinner 2.4s cubic-bezier(0.76, 0, 0.24, 1) infinite;
  animation: anim-spinner 2.4s cubic-bezier(0.76, 0, 0.24, 1) infinite;
  -webkit-transform-origin: bottom;
  -ms-transform-origin: bottom;
  transform-origin: bottom;
}

.spinner div:nth-child(1) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
  background-color: #ff4925;
  height: 1rem;
  width: 1rem;
}

.spinner div:nth-child(2) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
  background-color: #418fde;
  height: 1rem;
  width: 1rem;
}

.spinner div:nth-child(3) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
  background-color: #a7e6d7;
  height: 1rem;
  width: 1rem;
  border-radius: 50%;
}

.spinner {
  position: absolute;
  top: 5rem;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.ffcursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 100;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ffcursor--out-of-page {
  opacity: 0;
}

.ffcursor * {
  pointer-events: none;
}

.ffcursor__sub-element {
  display: inline-block;
  position: absolute;
}

.has-non-native-ffcursor *,
.has-non-native-ffcursor ::after,
.has-non-native-ffcursor ::before {
  cursor: none !important;
}

.ffcursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: 100;
  pointer-events: none;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  transition: opacity 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.ffcursor--out-of-page {
  opacity: 0;
}

.ffcursor * {
  pointer-events: none;
}

.ffcursor__sub-element {
  display: inline-block;
  position: absolute;
}

.has-non-native-ffcursor *,
.has-non-native-ffcursor ::after,
.has-non-native-ffcursor ::before {
  cursor: none !important;
}

.ffcursor {
  --ball-size: 11rem;
  --main-transition: 0.5s cubic-bezier(0.25, 1, 0.5, 1);
}

.ffcursor__ball {
  width: var(--ball-size);
  height: var(--ball-size);
  top: 0;
  left: 0;
  -webkit-transition: top var(--main-transition), left var(--main-transition);
  -o-transition: top var(--main-transition), left var(--main-transition);
  transition: top var(--main-transition), left var(--main-transition);
}

.ffcursor__ball::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}

.ffcursor__ball::before {
  background-color: #a7e6d7;
}

.ffcursor__ball-text {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0.05em;
  color: #28274b;
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
  -webkit-transition: var(--main-transition);
  -o-transition: var(--main-transition);
  transition: var(--main-transition);
}

html.contact-overlay-is-open .ffcursor__ball::before,
html.screen-menu-is-open .ffcursor__ball::before {
  background-color: #a7e6d7;
}

.ffcursor--arrow-hover .ffcursor__ball::before,
.ffcursor--arrow-hover-left .ffcursor__ball::before {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
  -ms-transform: translate(-50%, -50%) scale(0.5);
  transform: translate(-50%, -50%) scale(0.5);
  opacity: 1;
}

.ffcursor--arrow-hover .ffcursor__ball-text,
.ffcursor--arrow-hover-left .ffcursor__ball-text {
  -webkit-transform: translate(-50%, -50%) scale(1);
  -ms-transform: translate(-50%, -50%) scale(1);
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.ffcursor--arrow-hover-left .ffcursor__ball-text::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ffcursor--arrow-hover-left .ffcursor__ball-text::before {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ffcursor--link-hover .ffcursor__ball::before {
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.ffcursor--link-hover .ffcursor__illustration::before {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

.ffcursor--cta-hover .ffcursor__ball::before {
  -webkit-transform: translate(-50%, -50%) scale(0);
  -ms-transform: translate(-50%, -50%) scale(0);
  transform: translate(-50%, -50%) scale(0);
}

.ffcursor--cta-hover .ffcursor__illustration::after {
  opacity: 1;
  -webkit-transform: scale(1) rotate(0);
  -ms-transform: scale(1) rotate(0);
  transform: scale(1) rotate(0);
}

.ffcursor--text-hover .ffcursor__ball::before {
  -webkit-transform: translate(-50%, -50%) scale(0.65);
  -ms-transform: translate(-50%, -50%) scale(0.65);
  transform: translate(-50%, -50%) scale(0.65);
}

.ffcursor--text-hover .ffcursor__ball-text {
  -webkit-transform: scale(1) translate(0, 0) rotate(0);
  -ms-transform: scale(1) translate(0, 0) rotate(0);
  transform: scale(1) translate(0, 0) rotate(0);
}

.ffcursor--text-hover-larger .ffcursor__ball::before {
  -webkit-transform: translate(-50%, -50%) scale(0.8);
  -ms-transform: translate(-50%, -50%) scale(0.8);
  transform: translate(-50%, -50%) scale(0.8);
}

.ff-cursor-hover-text-trigger {
  cursor: none;
}

@media screen and (max-width: 749px) {
  .ffcursor .ffcursor-images__inner {
    width: 11rem;
  }

  .ffcursor .ffcursor-images--larger .ffcursor-images__inner {
    width: 14.5rem;
  }
}

.text-mb__intro {
  width: calc(
    var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 10
  );
}

.text-mb__intro p {
  width: calc(
    var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 7
  );
}
