.job-mt {
  margin-top: var(--dynamic-header-height);
}

.job-section > div {
  width: calc(
    var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 9
  );
}

.job-section p {
  width: calc(
    var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 6
  );
}

@media screen and (min-width: 1200px) {
  /* .job-min-height {
    min-height: calc(
      calc(var(--dynamic-viewport-height) - var(--wp-admin-bar-height)) * 2.75
    );
  } */
  .job-min-height {
    min-height: 10rem;
  }

  .cards-container {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(
      var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 6
    );
    height: 100%;
  }

  .cardStack {
    position: absolute;
    width: calc(
      var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 4
    );
    pointer-events: none;
  }
  .cardStack > a {
    -webkit-transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    -o-transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
    transition: all 0.5s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .cardStack:nth-child(1) {
    margin-top: -15vh;
    margin-left: calc(
      var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 1
    );
  }

  .cardStack:nth-child(2) {
    margin-top: 15vh;
  }

  .cardStack:nth-child(3) {
    margin-left: calc(
      var(--grid-gutter) * -1 + (var(--grid-gutter) + var(--grid-col-width)) * 2
    );
    margin-top: 45vh;
  }
}
